@font-face {
    font-family: Lato;
    src: url(https://fonts.google.com/specimen/Lato);
    font-size: 100%;
    padding: 1em;
    font-weight: nromal;
    font-style: normal;
  }
@font-face {
    font-family: Karla;
    src: url(https://fonts.google.com/specimen/Karla);
    font-size: 100%;
    padding: 1em;
    font-weight: nromal;
    font-style: normal;
  }
@font-face {
    font-family: Quantico;
    src: url(https://fonts.google.com/specimen/Quantico);
    font-size: 100%;
    padding: 1em;
    font-weight: normal;
    font-style: normal;
  }

html {
  --background-color: #FFFEF2;
  --titlesandtext: #36454F;
  --details: #8DA95F;
  --backgroundhighlights: #CE575A;
}

* {
    box-sizing: border-box;
  }

body {
    background-image: url(../Images/cssbodybackground.png);
    background-color: var(--background-color);
    background-size: cover;
    color: var(--titlesandtext);
    
}

h1, h2, h3, a {
    font-family: Karla, Georgia, sans-serif;
  }

h4 {
    font-family: Quantico, Georgia, sans-serif;
  }

p {
    font-family: Lato, Georgia, sans-serif;

  }

header {
    border: 3px solid black;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

#navBar li {
    padding: 10px;
    
}

footer {
    margin-top: 3.125rem;
}
