@font-face {
    font-family: Quantico;
    src: url(https://fonts.google.com/specimen/Quantico);
    font-size: 100%;
    font-weight: 0 700;
    font-style: normal;
}
@font-face {
    font-family: Cabin Sketch;
    src: url(https://fonts.google.com/specimen/Cabin+Sketch);
    font-size: 100%;
    font-weight: 400 700;
    font-style: normal, bold;

font-family: 'Quantico', sans-serif;
font-family: 'Cabin Sketch', sans-serif;
}

html {
  --background-color: #e6e6e6;
  --titlesandtext: #36454F;
  --details: #8DA95F;
  --backgroundhighlights: #FF2B27;
}

* {
  box-sizing: border-box;
  }

body {
    background-color: var(--background-color);
    background-size: cover;
    color: var(--titlesandtext);
    width: 100%;
    margin: 0;
}

h1 {
    font-family: 'Cabin Sketch', Georgia, sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

#currentPage {
  color: red;
}


h2 {
  font-family: 'Quantico', Georgia, sans-serif;
  font-weight: 0;
  font-size: 3rem;
}

h3 {
  font-family: 'Cabin Sketch', Georgia, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
}

a {
  font-family: 'Cabin Sketch', Georgia, sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

h4 {
    font-family: 'Quantico', Georgia, sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

p {
    font-family: 'Quantico', Georgia, sans-serif;

  }

header {
    width: 100%;   
}

/* 
#navBar {
    justify-content: center;
    margin: 10rem 2rem 2rem 2rem;
    padding: 1.5rem 0rem 1.5rem 0rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: #36454F;
    border-top: 2px solid #36454F;
    border-bottom: 2px solid #36454F;
}

#navBar a {
  text-decoration: none;
  font-size: 3.3rem;
}

a {
  color: #36454F;
}

#navBar li {
    padding: 1.2rem;
}

    #Home {
      border-right: 2px solid #36454F;
    }

    #Work {
      border-right: 2px solid #36454F;
    }

    #Resume {
      border-right: 2px solid #36454F;
    }

    #AboutMe {
      border-right: 2px solid #36454F;
    } */
  
/*MENU*/
  
.navbar {
  width: 100%;
  margin-bottom: 10rem;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  display: block;
  position: relative;
  height: 60px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #36454F;
  font-weight: 500;
  font-size: 4rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    color: #FF2B27;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  top: 4.5rem;
  left: 4rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 3.6rem;
  width: 4.5rem;
  position: absolute;
  top: 4.5rem;
  left: 4rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 0.5rem;
  width: 100%;
  border-radius: 10px;
  background: #36454F;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding: 50rem 5rem 0rem 5rem;
  box-shadow: inset 0 0 0 2000px #e6e6e6;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  margin: 0;
  position: absolute;
  top: 4rem;
  right: 3.5rem;
  color: #36454F;
}

.logo h3 {
  font-size:4.5rem;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

/*MENU*/

.Doyeon {
  padding: 16rem 0rem 70rem 6rem;
  text-wrap: wrap;
}

  .Doyeon h2 {
    font-size: 4.5em;
  }

  .Doyeon h1 {
    font-size: 8.2em;
  }

.Intro {
  background-image: url("../Images/intro.png");
  background-size: cover;
}

.Intro #Arrow {
  position: absolute;
  width: 13rem;
  right: 2em;
  bottom: 19em;
}

.Hello {
  margin: 0em 4em 10em 4em;
  text-align: center;
}  

.Work {
  margin: 0 3em 0 3em;
}

.Work Img {
    width: 85%;
    margin: 0em 0em 1em 0em;
}

.Fish {
  outline: 2px solid #36454F;
  text-align: center;
  width: max-content;
}

  .Fish a {
    text-decoration: none;
    color: #FF2B27;
    padding: .1em;
  }

  .Fish h3 {
    padding: .1em;
  }

.chessRookie {
margin-bottom: 1rem;
}  

.chessRookie h3 {
  font-size: 4rem;
} 

.chessRookie h4 {
  clear: right;
}

.chessRookie Img {
  float: right;
  clear: right;
}

.woodmereartmuseum {
  font-size: 4rem;
}

.About {
  margin: 0 3em 0 3em;
}

.About Img {
  width: 50em;
  float: left;  
  margin: 0 2em 4em 2em;
}

.resume {
  margin: 0 3em 5em 3em;
}

  .resume h3 {
    text-align: center;
  }

  .resumeFish {
    outline: 2px solid #36454F;
    width: max-content;
  }

  .resumeFish a {
  text-decoration: none;
  color: #36454F;
  padding: .1em;
  font-size: 2em;
  }

.Resume {
  margin: 5em 3em 5em 3em;
  text-wrap: pretty;
}

  .Resume h1 {
    font-size: 2.2em;
    border-bottom: 2px solid #36454F;
  }

  .Resume h2 {
    font-size: 2em;
  }

  .Resume h3 {
    font-size: 2em;
  }

  .Resume h4 {
    font-size: 2em;
  }

  .Resume p {
    font-size: 1em;
  }

.Photo {
  margin: 6em 5em 5em 5em;
}

.Photo Img {
  margin-bottom: 3em;
  width: 100%;
}

#photo ul {
  text-decoration: none;
}

.Rook {
  margin: 0em 3em 5em 3em;
}

.Woodmere {
  margin: 0em 3em 5em 3em;
}
footer {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

footer img {
  width: 5rem;
  height: auto;
  margin: 0 1em;
}


.container {
  width: 100%;
  margin: auto;
}